@{
    ViewData["Title"] = "Contacts";
}

<section>
    </br>
    <div class="row">
        <div class="col-md-6">
            <section id="contact-info">
                <h2>Contact Information</h2>
                <ul>
                    <li><i class="fas fa-map-pin"></i> g.k. Ovcha kupel 2, ul. "Montevideo" 21, 1618 Sofia </li>
                    <li><i class="fas fa-phone"></i> +1 (555) 555-5555</li>
                    <li>
                        <i class="fas fa-envelope"></i> <a href="mailto:info@tourAgencyApp.com">info@tourAgencyApp.com</a>
                    </li>
                    <li><i class="fas fa-clock"></i> Monday - Friday, 9am - 5pm EEST</li>
                </ul>
            </section>
            </br>
            </br>
            <section id="social-media">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Follow Us</h2>
                        <ul>
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section id="google-maps">
                <h2>Our Location</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93862.52132833855!2d23.10852444335938!3d42.678225300000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa9b2543b14005%3A0xea8e06ca71a2aede!2z0J3QvtCyINCx0YrQu9Cz0LDRgNGB0LrQuCDRg9C90LjQstC10YDRgdC40YLQtdGC!5e0!3m2!1sbg!2sbg!4v1716076088146!5m2!1sbg!2sbg"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
        </div>
    </div>
</section>