@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="container">
        <div class="text-center">
            <h1 class="display-4"><b>Welcome</b></h1>
            <p>Welcome to <b>TravelAgencyApp</b>, your premier destination for unforgettable travel experiences. Our team of expert travel designers will work closely with you to craft a personalized itinerary that meets your unique needs and exceeds your expectations, from adventure-packed escapades to relaxing getaways and everything in between</p>
        </div>
</section>
<section>
        <div class="row">
            <div class="col-12">
                <center>
                    <h2>Our Features</h2>
                    <p><b>Our 2 Primary Features</b></p>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <center>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Tours" asp-action="Index">
                            <img width="150px" src="imgs/tours0.png" />
                            <h4>Tours</h4>
                        </a>
                    </li>
                <p class="text-justify">Explore our curated collection of guided tours, each carefully crafted to reveal the hidden gems and authentic experiences of destinations around the world. From relaxing getaways to action-packed adventures, our tours cater to all interests and travel styles, ensuring a unique and unforgettable journey.</p>
                </center>
            </div>
            <div class="col-md-6">
                <center>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Events" asp-action="Index">
                            <img width="150px" src="imgs/event.png" />
                            <h4>Events</h4>
                        </a>
                    </li>
                <p class="text-justify">Join us for unforgettable experiences that bring people together, from vibrant cultural festivals to exclusive culinary events and thrilling adventure excursions. Our events calendar is packed with unique opportunities to connect with like-minded travelers and create lasting memories in some of the world's most fascinating destinations.</p>
                </center>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <center>
                    <h2></h2>
                    <h2>Our Process</h2>
                    <p><b>We have a Simple 3 Step Process</b></p>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <center>
                    <img width="150px" src="imgs/traveler.png" />
                    <h4>Sign Up</h4>
                    <p class="text-justify">Sign up today and discover the world's most incredible experiences, exclusive offers, and unforgettable memories, all at your fingertips with our easy and secure registration process.</p>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <img width="150px" src="imgs/delivery.png" />
                    <h4>Choose tour or event</h4>
                    <p class="text-justify">Choose from our curated wide selection of destinations worldwide, including popular hotspots, hidden gems, and off-the-beaten-path locales, to find the perfect fit for your next adventure.</p>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <img width="150px" src="imgs/office.png" />
                    <h4>Let us handle the rest</h4>
                    <p class="text-justify">From booking flights and accommodations to arranging transportation and activities, let us handle the rest so you can focus on what matters most - enjoying your dream getaway.</p>
                </center>
            </div>
        </div>
    </div>
</section>