@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<section>
    <div class="container">
        <p class="text-justify">
            </br>At <b>TourAgencyApp</b>, we understand the importance of protecting your personal information. This privacy
            policy outlines how we collect, use, and share your personal data when you visit our website, book a tour,
            or otherwise interact with us.</br>

            </br><b>Collection of Personal Informationp</b></br>

            We collect personal information from you when you interact with us, such as when you book a tour, contact us
            through our website, or provide us with your contact information. The types of personal information we
            collect may include your name, email address, phone number, date of birth, and payment information. We also
            collect information about your preferences and interests, such as your travel history and interests, to help
            us provide you with personalized recommendations and offers.</br>

            </br><b>Use of Personal Information</b></br>

            We use your personal information to provide you with the services and experiences you request, such as
            booking a tour or receiving travel advice. We may also use your personal information to communicate with you
            about our services, special offers, and promotions. In addition, we may use your personal information to
            improve our website and services, such as by analyzing your browsing behavior and preferences.</br>

            </br><b>Sharing of Personal Information</b></br>

            We do not share your personal information with third parties except as necessary to fulfill your
            requests or as required by law. For example, we may share your personal information with our suppliers
            and partners to provide you with the services and experiences you request. We may also share your
            personal information with law enforcement agencies or other authorities if required by law or in
            connection with a legal investigation.</br>

            </br><b>Security Measures</b></br>

            We take reasonable security measures to protect your personal information from unauthorized access, use,
            or disclosure. These measures include using secure servers, encrypting sensitive data, and implementing
            access controls to ensure that only authorized personnel have access to your personal information.</br>

            </br><b>Your Rights</b></br>

            You have the right to request access to your personal information that we hold, and to request that we
            correct or delete it. You also have the right to object to the use of your personal information for
            direct marketing purposes. If you wish to exercise these rights, please contact us at [TourAgencyApp@TourAgencyApp.com].</br>

            </br><b>Changes to this Policy</b></br>

            We reserve the right to modify this privacy policy at any time. If we make changes to this policy, we
            will post them on this website and update the "last updated" date below.</br>

            </br><b>Last Updated</b></br>

            This privacy policy was last updated on <b>20.05.2024</b></br>

        </p>
</section>